.App {
  max-width:400px;
  display:flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
 margin:0 auto;

 
}

h1{
 color: #216af2;
  font-size: 45px;
}


.btn {
  cursor: pointer;
  font-size:15px;
  height: 30px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background: #b3ff00;

}

.btn:hover {
color: aqua;
  border: none;
  outline: 0;
}

.btn:focus {
color: black;
  border: none;
  outline: 0;
}

.btn:active {
  border: none;  
}

.input {
  background-color: whitesmoke;
  color: black;
  padding:15px;
  border-radius: 10px;
  border: none;
  outline: none;
  position: relative;
  margin: 5px;
}

.buttonSorteItem {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 15px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
.buttonSorteItem:hover { background: rgb(53, 167, 110); }
.buttonSorteItem:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}